/vendor/
node_modules/
composer.lock
npm-debug.log
yarn-error.log
# .env
.env.*.local
Homestead.yaml
Homestead.json
vagrantfile

/public/css/
/public/js/
/public/hot
/public/mix-manifest.json
/public/build/

/storage/*.key
/storage/app/public
/storage/framework
/storage/logs
/storage/debugbar

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
*.bak
*.swp
*.swo

.phpunit.result.cache
/.phpunit.cache/

/bootstrap/cache/
.phpunit.result.cache

/database/*.sqlite
/database/*.sqlite3
/database/database.sqlite
/database/database.sqlite3

/public/uploads/
public/hot

/public/hot
/public/mix-manifest.json
/public/css/
public/js/
public/hot
/public/build/
/public/mix-manifest.json

/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/framework/cache/data/*
